@{
    WebApplicationfloristeria.Models.Usuario usuario = (WebApplicationfloristeria.Models.Usuario)Session["usuario"];
 }

<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - Florería Rosas del Jardín</title>

        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/283335a286.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <link href="~/Contenido/CSS/normalize.css" rel="stylesheet" />
        <link href="~/Contenido/CSS/site_Clients.css" rel="stylesheet" />

        <header class="encabezado">
            <div class="contenedor-navegacion">
                <div class="contenido-navegacion contenedor">
                    <div class="logo">
                        <img data-src="@Url.Content("~/Contenido/Multimedia/IMG/icon.png")" alt="logo">

                    </div>
                    <nav class="navegacion ocultar">
                        <a href="#">Inicio</a>
                        <a href="#">Sobre Nosotros</a>
                        <a href="#">Menú</a>
                        <a href="#">Florista</a>
                        <a href="#">Contacto</a>
                    </nav>
                    <div class="hamburguesa">
                        <span></span><span></span><span></span>
                    </div>
                </div>
            </div>
            <div class="contenido-header">
                <div class="contenedor-encabezado">
                    <div class="texto-encabezado">
                        <h2>Arte y Frescura en Cada Ramo</h2>
                        <a href="#" class="btn bordes">Explorar Colección</a>
                    </div>
                    <video autoplay loop muted>
                        <source src="~/Contenido/Multimedia/Video/bg_video.mp4">
                    </video>
                </div>
            </div>
        </header>
        @RenderBody()

        @RenderSection("AlertaEliminar", false)
        @RenderSection("JSNavegador", false)


        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)


        <div class="pie-pagina ">
            <div class="contenedor-piepagina contenedor">
                <div class="info">
                    <h3>Dirección</h3>
                    <p>Mercado Real plaza vitarte, Av. Nicolás Ayllón, Ate 15801</p>
                </div>
                <div class="info">
                    <h3>Días especiales</h3>
                    <p>Sabados y Jueves 7am - 11pm</p>
                    <p>966651967</p>
                </div>
                <div class="info">
                    <h3>Horarios</h3>
                    <p>Lunes - Sabado 7am - 11pm</p>
                    <div class="redes-sociales redes-pie">
                        <i class="fab fa-facebook-square"></i>
                        <i class="fab fa-twitter-square"></i>
                        <i class="fab fa-instagram"></i>
                    </div>
                </div>
                <div class="info">
                    <h3>Noticias</h3>
                    <p>suscribete para recibir más noticias</p>
                    <input type="email" placeholder="Tu correo">
                    <input type="submit" class="btn btn-blanco" value="Suscribirse">
                </div>
            </div>
        </div>
        <footer class="footer">
            <p>Todos los derechos reservados &copy; 2025 Floreria Pérez</p>
        </footer>




        <div class="carrito-flotante" id="btnCarrito">
            <a href="javascript:void(0)">
                <i class="fas fa-shopping-bag"></i>
                <span id="contadorCarrito">0</span>
            </a>
        </div>



        <div class="panel-carrito" id="panelCarrito">

            <div class="header-carrito">
                <h3>Mi Pedido</h3>
                <button class="btn-close" id="cerrarCarrito" >❌</button>
            </div>

            <div class="contenido-carrito" id="contenidoCarrito">
                <!-- productos aquí -->
            </div>

            <div class="footer-carrito">

                <h3>Total: S/. <span id="totalCarrito">0</span></h3>

                <button id="btnComprar" class="btn-comprar">
                    Comprar
                </button>

            </div>

        </div>


        <script src="~/Contenido/JS/app.js"></script>
    </body>

</html>
